@import "./destyle.scss";

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  color: #000;
  letter-spacing: .1em;
}

a {
  text-decoration: none;
  &:hover,
  &:active,
  &:visited,
  &:link,
  &:focus {
    text-decoration: none;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

button {
  outline: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
